<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KCB2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KCB2.Properties.Settings>
            <setting name="QuestListSize" serializeAs="String">
                <value>610, 110</value>
            </setting>
            <setting name="QuestListColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="ShipDetailSize" serializeAs="String">
                <value>250, 188</value>
            </setting>
            <setting name="ShipDetailColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="ShipListBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ShipListColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemListColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemListBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="LogFormBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="LogItemColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="LogShipColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="LogBattleColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMissionColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMaterialColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleDetailBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="BattleDetailColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineLogEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineLogSecurityToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8088</value>
            </setting>
            <setting name="HPThreshold" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="VerboseStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLogWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GadgetURI" serializeAs="String">
                <value>http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/</value>
            </setting>
            <setting name="ShipListVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemListVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogWndVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ImageStoreDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncronizeTimerProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogStoreDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FiddlerOverrideGateway" serializeAs="String">
                <value />
            </setting>
            <setting name="LogStoreType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GSRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="HideHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CondCeil" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="ShipDetailItem" serializeAs="String">
                <value>火力,対空,装甲,雷装,HP,燃料,装備</value>
            </setting>
            <setting name="SuppressSuceedWriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMasterDataView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MasterDataWndVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MasterShipColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterListBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="MasterSlotItemColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="SlotItemListVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlotItemListBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="SlotItemListColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterShipTypeColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDevMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipbackJSON" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MuteOnMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideDroppedShip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WithdrawalKey" serializeAs="String">
                <value>43FC22576EE7869657B54662FB9759FD</value>
            </setting>
            <setting name="ShowEnemyBattleStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressBrowserDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpstreamProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="UpstreamProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="UseUpstreamProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </KCB2.Properties.Settings>
    </userSettings>
</configuration>