<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KCBTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KCBTimer.Properties.Settings>
            <setting name="DockOutSound" serializeAs="String">
                <value />
            </setting>
            <setting name="MissionFinishSound" serializeAs="String">
                <value />
            </setting>
            <setting name="DockColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="MissionColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="FormBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="CondSound" serializeAs="String">
                <value />
            </setting>
            <setting name="NetTcp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifySound" serializeAs="String">
                <value />
            </setting>
        </KCBTimer.Properties.Settings>
    </userSettings>
</configuration>